.modal{
  overflow: hidden !important;
}

/*Small screens*/
@media (min-width: 320px) {
  .modal-dialog {
    top: 12%;
    width: 100%;
    height: 28%;
  }
  .modal-content{
    height: 100%;
  }
}

/*Large screens*/
@media (min-width: 1025px) {
  .modal.fade:not(.in).left .modal-dialog {
  	-webkit-transform: translate3d(-25%, 0, 0);
  	transform: translate3d(-25%, 0, 0);
  }
  .modal-dialog {
      margin: 0px;
      padding: 0px;
      width: 43%;
      left: 7%;
      top: 10%;
      height: 100%;
  }
  .modal-content{
    height: 90%;
  }
}
