@media screen (min-width: 320px) {
  #navbarLeft {
    display: none;
  }
  #navbarTop{
    background-image: black;
  }
  h2 {
    font-family: verdana;
    font-size: 200%;
    margin-left: 20px;
  }
}

@media (min-width: 1025px) {
  #navbarLeft {
    width: 7%;
    height: 100%;
    position: fixed;
    background-image: black;
  }
  #navbarTop{
    display: none;
  }
  h2 {
    font-family: verdana;
    font-size: 300%;
    margin-left: 20px;
  }
}

.navbar.navbar-collapse li a {
    color: white;
}

.navbar{
  background-color: black;
}
.navbar-brand{
  color: white;
  margin-bottom: 10px;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}
