/*Small screens*/
@media (min-width: 320px) {
  textarea {
    background: black;
    color: white;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 16px;
    height: 380px;
    width: 100%;
    resize: none;
    border-radius: 6px;
    columns: 80;
    outline: none;
    line-height: normal;
    margin-top: 45%;
    margin-right: 3%;
  }
}

/*Large screens*/
@media (min-width: 1025px) {
  textarea {
    background: black;
    color: white;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 16px;
    height: 494px;
    width: 100%;
    resize: none;
    border-radius: 6px;
    columns: 80;
    outline: none;
    line-height: normal;
    margin-top: 8%;
    margin-left: 10%
  }
}
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb:vertical {
  height: 10px;
  background-color: #F07746;
}

::selection {
  background:#D3D3D3	;
  color:#000000;
}

::-moz-selection {
  background:#D3D3D3;
  color:#000000;
}

::-webkit-selection {
  background:#D3D3D3;
  color:#000000;
}
